---
import { Image } from "astro:assets";
import type { Project } from "../types/config";
import { Markdown } from "@astropub/md";

type Props = Project;

const { title, description, image, year, url, socio } = Astro.props;
---

<a
  href={url}
  target="_blank"
  class="sm:py-5 py-10 flex flex-col sm:flex-row gap-6  opacity-100 hover:opacity-60 transition-opacity"
>
  <div class="h-full bg-gray-700 rounded-lg aspect-video sm:h-[150px]">
    <Image
      width={1920}
      height={1080}
      src={image}
      alt={title}
      class="w-full h-full object-cover rounded-lg aspect-video"
    />
  </div>
  <div class ="relative">
    <div class="items-center gap-1 mb-2">
      <h2 class="font-medium">{title}</h2>
      <span class="opacity-60">{year}</span>
    </div>
    <div class="opacity-70 mb-1">
      <Markdown of={description} />
    </div>
    {
      socio && 
      <p class="opacity-50 text-xs sm:absolute inset-x-0 bottom-0" > Junto con: {socio}</p>
    }
    
  </div>
</a>